body{
    background-color: green;
    color: red;
    }

.tango{
    color: yellow;
    font-size: 32px;
}

.bottom{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.photo{
    height: 250px;
    width: 100%;
    background-color: black;
    padding: 15px;
}
